<div class="row">

  <% object.image_pages.each do |ip|%>
 <div class="col-sm-4">
<%= link_to(image_tag(ip.image.thumbnail(:geometry => "200x200#c").url, :title => ip.image.title, :class => "img-thumbnail"), ip.image.url, "data-lightbox" => "group-set", "data-title"=> ip.caption) %>
</div>
<% end %> <!-- end of col-sm-4 -->

</div>
