<ul class="social-list">
  <li><a href="#"><img src="/assets/facebook.gif"></a></li>
  <li><a href="#"><img src="/assets/twitter.gif"></a></li>
  <li><a href="#"><img src="/assets/google-plus.gif"></a></li>
  <li><a href="#"><img src="/assets/youtube.gif"></a></li>
</ul>