<ul class="social-list">
  <li>
    <a href="https://plus.google.com/u/0/stream/circles/p26eaffe4098d0b08" target="blank">
      <span class="fa-stack fa-2x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  <li>
    <a href="http://www.linkedin.com/profile/view?id=223928309&trk=nav_responsive_tab_profile_pic" target="blank">
      <span class="fa-stack fa-2x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  <li>
    <a href="https://twitter.com/Doctorkhurshid" target="blank">
        <span class="fa-stack fa-2x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
        </span>
    </a>
  </li>
  <li>
    <a href="https://www.facebook.com/khurshid.anwar.9279" target="blank">
      <span class="fa-stack fa-2x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
</ul>